/* a css file styling/hidding our honeypot traps
 * We'll use a general class "field" that will be attributed to all of the inout fields but will identify
 * honeypots using nth-of-type so smarter bots don't recognize naming differences in html. 
 * Please change the ".field" class name in one of your liking just in case they crack down on this.
 * if you change the ordering of the fields in the HTML please adjust the nth numbers which indicate the list order position in html. 
 */

input.fields[name=city] { /* hide trap 1 field with display property */
display: none;
}
input.fields[name=county] { /* hide trap 2 with visibility in case a bot recognizes the previous */
 visibility: hidden;
 padding: 0px;
 margin: 0px;
 height: 0px;
 width: 0px;
}
